# Cloned from the original repositories (do not have to commit)
/dronesim/drone/px4/
/dronesim/drone/onboard/src/px4_msgs

# ROS2 build and workspace
/dronesim/drone/onboard/build
/dronesim/drone/onbaord/install
/dronesim/drone/onboard/log